.app {
  background: linear-gradient(180deg, #5142e0 20%, #8accff 100%);
  color: aliceblue;
  width: 650px;
  height: 450px;
  margin: auto;
  padding: 35px 50px;
  margin-top: 100px;
  border-radius: 20px;
}

.submitsection {
  height: 55px;
}

.typecity {
  height: 37px;
  border: 0px;
  border-radius: 0.375rem;
  padding-left: 10px;
  padding-right: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 68px;
  width: 195px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.333);
  font-style: italic;
}

*:read-write {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: 300;
}

.search  {
  margin-left: 10px;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.333);
  position: relative;
  left: 218px;
  top: -32px;
  background-color: Transparent;
  border: none;    
}
.search:hover{
 
    color: rgb(255, 255, 255);

}

.location{
  margin-left: 10px;
  margin-bottom: 5px;
  color:rgb(174 167 242);
  position: relative;
  left: 15px;
  top: -68px;
  background-color: #3929b3;
  border: none;   
  height: 37.2px; 
  width: 37.2px; 
  border-radius: 0.375rem;
}

.location:hover{
  background-color: aliceblue;

}


.citysearch {
  text-align: right;
}

.main-column {height: 187px;
margin-top: 14px ;}

.main-image {padding: 0px; 
  margin-bottom: 50px}

.weathericonmain {
  width: 110%;
}

.temperature-row {
  width: 130px
};

  .stick {
    color: #ffffff30;}

    .celsius {
      font-weight: normal;
      color: aliceblue;
      border: 0;
      background-color: transparent;
      padding: 0;}    

  .fareneit {
    color: #ffffff30;
    border: 0;
    background-color: transparent;
    padding: 0;
    }
    
  .degrees { 
  margin-bottom: 25px;
font-size: 15px;}
  /* color hover doesn't happen after F is selected but pointer changes as expected (from text pounter to default) - create JS function on hover?*/

  #C:hover {
    cursor: pointer ;
    color:aliceblue }

    #C:focus {
      color: aliceblue
    }

#C:active{
color: #64ffe8 ;}


  /* color hover doesn't happen after F is selected but pointer changes as expected (from text pounter to default) - create JS function on hover?*/
#F:hover {
  cursor: pointer;
  color: aliceblue ;
}
#F:focus {
  color: aliceblue
}
#F:active{
  color: #64ffe8 ;
  font-size: 15.3px;
 
}

.temptitle{
  font-size: 40px;
  padding: 0;
  text-align: right;
  width: 20px;

}

.citytitle{
  font-size: 40px;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}
#weather {
  text-transform: capitalize;
}

.detailsleft,
.detailsright {
  font-weight: 100;
  height: 134.39px;
  font-size: 20px;
  color: #ffffff80;
}

.descriptionright {
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
}

.week-grid {margin-top: 16px}

.week {
  background-color: #ffffff35;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  padding: 10px;
}

.dayname {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 100;
}

.weathericon {
  width: 60%;
}

.ptemp {
  margin-bottom: 0px;
  font-size: 10px;
  font-weight: 300;
}

#city {
  text-transform: capitalize;
}

.copyright {font-size: 10px;
padding-left: 440px;
color: #88C7FE;
text-align: center;}

a {color: #b0a8ff}
a:hover {color: #a11eff;}

  